
@{
    Layout = "_LayoutAfter";
    ViewData["Title"] = "Locations";
}

<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Daniel Coombs, this website allows users to order pizzas or view data related to ordering">
    <meta name="keyword" content="ViewLocations">
    <meta name="description" content="This platform allows users to log in or redirect to create an account">
    <title>View Locations</title>

</head>
<body>
    <h1>Current Locations</h1>
</body>
</html>
