@model PizzaBoxClient.Models.OrderModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "PlaceOrder";
}

<h1>PlaceOrder</h1>

<hr />
@ViewData["Text"]
<div class="row">
    <form asp-action="PlaceOrder">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <h1>Location</h1>
            <label asp-for="Location" class="control-label">Arlington</label>
            <input asp-for="Location" type="radio" class="form-control" value=1 />
            <span asp-validation-for="Size" class="text-danger"></span>
            <br />
            <label asp-for="Location" class="control-label">Dallas</label>
            <input asp-for="Location" type="radio" class="form-control" value=2 />
            <span asp-validation-for="Size" class="text-danger"></span>
            <br />
            <label asp-for="Location" class="control-label">Fort Worth</label>
            <input asp-for="Location" type="radio" class="form-control" value=3 />
            <span asp-validation-for="Size" class="text-danger"></span>
            <br />
            <label asp-for="Location" class="control-label">Houston</label>
            <input asp-for="Location" type="radio" class="form-control" value=4 />
            <span asp-validation-for="Size" class="text-danger"></span>
            <br />
            <label asp-for="Location" class="control-label">Austin</label>
            <input asp-for="Location" type="radio" class="form-control" value=5 />
            <span asp-validation-for="Size" class="text-danger"></span>
            <br />
        </div>
        <div class="form-group">
            <h1>Size</h1>
            <br />
            <br />
            <label asp-for="Size" class="control-label">Small</label>
            <input asp-for="Size" type="radio" class="form-control" value="Small" />
            <span asp-validation-for="Size" class="text-danger"></span>
            <br />
            <label asp-for="Size" class="control-label">Medium</label>
            <input asp-for="Size" type="radio" class="form-control" value="Medium" />
            <span asp-validation-for="Size" class="text-danger"></span>
            <br />
            <label asp-for="Size" class="control-label">Large</label>
            <input asp-for="Size" type="radio" class="form-control" value="Large" />
            <span asp-validation-for="Size" class="text-danger"></span>
            <br />
            <label asp-for="Size" class="control-label">Extra Large</label>
            <input asp-for="Size" type="radio" class="form-control" value="Extra Large" />
            <span asp-validation-for="Size" class="text-danger"></span>
            <br />
        </div>
        <br />
        <br />
        <div class="form-group">
            <h1>Crust</h1>
            <br />
            <br />
            <label asp-for="Crust" class="control-label">Hand-Tossed</label>
            <input asp-for="Crust" type="radio" class="form-control" value="HandTossed" />
            <span asp-validation-for="Crust" class="text-danger"></span>
            <br />
            <label asp-for="Crust" class="control-label">Thin</label>
            <input asp-for="Crust" type="radio" class="form-control" value="Thin" />
            <span asp-validation-for="Crust" class="text-danger"></span>
            <br />
            <label asp-for="Crust" class="control-label">Pan</label>
            <input asp-for="Crust" type="radio" class="form-control" value="Pan" />
            <span asp-validation-for="Crust" class="text-danger"></span>
            <br />
            <label asp-for="Crust" class="control-label">Thick</label>
            <input asp-for="Crust" type="radio" class="form-control" value="Thick" />
            <span asp-validation-for="Crust" class="text-danger"></span>
            <br />
            <label asp-for="Crust" class="control-label">Stuffed</label>
            <input asp-for="Crust" type="radio" class="form-control" value="Stuffed" />
            <span asp-validation-for="Crust" class="text-danger"></span>
            <br />
        </div>
        <p>Choose up to five: Pepperoni, Sausage, Bacon, Pineapple, Mushrooms, Onions, Extra Cheese, Olives</p>
        <div class="form-group">
            <label asp-for="Topping1" class="control-label"></label>
            <input asp-for="Topping1" class="form-control" />
            <span asp-validation-for="Topping1" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Topping2" class="control-label"></label>
            <input asp-for="Topping2" class="form-control" />
            <span asp-validation-for="Topping2" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Topping3" class="control-label"></label>
            <input asp-for="Topping3" class="form-control" />
            <span asp-validation-for="Topping3" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Topping4" class="control-label"></label>
            <input asp-for="Topping4" class="form-control" />
            <span asp-validation-for="Topping4" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Topping5" class="control-label"></label>
            <input asp-for="Topping5" class="form-control" />
            <span asp-validation-for="Topping5" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Qty" class="control-label"></label>
            <input asp-for="Qty" class="form-control" />
            <span asp-validation-for="Qty" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>
</div>

<div>
    <a asp-action="Locations">Back to Home</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
