
@{
    Layout = "_LayoutAfter";
    ViewData["Title"] = "PlaceOrder";
}

<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Daniel Coombs, this website allows users to order pizzas or view data related to ordering">
    <meta name="keyword" content="PlaceOrder">
    <meta name="description" content="This platform allows users to place order or view data">
    <title>Place Order</title>

</head>
<body>

</body>
</html>

